export GIT_COMMITTER_NAME="Zachary Hubbell"
export GIT_COMMITTER_EMAIL="spideyclick@gmail.com"
export GIT_AUTHOR_NAME="Zachary Hubbell"
export GIT_AUTHOR_EMAIL="spideyclick@gmail.com"

git fetch --quiet &
export ESV_API_KEY=$(pass show api_keys/esv.org)
